[submodule "Modules/imgui"]
	path = Modules/imgui
	url = git@github.com:dloman/imgui.git
[submodule "Modules/imgui-sfml"]
	path = Modules/imgui-sfml
	url = https://github.com/eliasdaler/imgui-sfml.git
[submodule "Modules/fmt"]
	path = Modules/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "DanLib"]
	path = Modules/DanLib
	url = https://github.com/dloman/DanLib.git
[submodule "Modules/asio"]
	path = Modules/asio
	url = https://github.com/chriskohlhoff/asio.git
